---
---
@import "{{ site.theme }}";

.ts-content > h1,
.ts-content > h2,
.ts-content > h3,
.ts-content > h4,
.ts-content > h5,
.ts-content > h6 {
  clear: both;
}

$river_item_height: 145px;

.ts-river {
  padding: 0;
  list-style-type: none;
}

.ts-river-item {
  display: flow-root;
  min-height: $river_item_height;
  margin: 0 0 20px 0;
}

.ts-river-item:last-child {
  margin: 0;
}

.ts-river-item-image {
  display: block;
  position: static;
  float: left;
  width: 200px;
  height: $river_item_height;
  margin: 0 1em 1em 0;
  padding: 0;
  border: none;
  background-color: #fff;
  filter: drop-shadow(#ccc 5px 5px 5px);
}

.ts-river-item-name {
  margin: 0;
  padding: 0;
  border: none;
}

.ts-nav-item .buttons {
  background: none;
  display: block;
  width: auto;
  height: auto;
  padding: 0px 10px 0px 10px;
}

.ts-more-link:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.25em;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
  border-left: 0.25em solid #c30000;
}

.ts-full-width-asset {
  width: 100%;
  max-width: 100%;
}

.ts-left-asset,
.ts-right-asset {
  width: 50%;
  max-width: 50%;
  margin-bottom: 1em;
}

.ts-left-asset {
  float: left;
  margin-right: 1em;
}

.ts-right-asset {
  float: right;
  margin-left: 1em;
}

.ts-left-asset img,
.ts-right-asset img {
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
.ts-left-asset img {
  border: none;
  filter: drop-shadow(#aaa -5px 5px 5px);
}

.ts-right-asset img {
  filter: drop-shadow(#aaa 5px 5px 5px);
}

.ts-table {
  font-size: 0.9em;
  filter: none;
}

.ts-table th {
  font-size: 0.9em;
}

.ts-table td,
.ts-table th {
  padding: 5px;
}

figure > .ts-table {
  margin: 0;
}

figcaption {
  font-size: 0.9em;
}

.ts-left-asset figcaption {
  text-align: left;
}

.ts-right-asset figcaption {
  text-align: right;
}

@media print, screen and (min-width: 961px) {
  .ts-header {
    width: 220px;
    padding-left: 25px;
    margin-right: 0px;
  }
}

@media print, screen and (max-width: 960px) and (min-width: 721px) {
  $nav_width: 197px;
  $header_top_padding: 34px;
  $header_bottom_padding: 22px;
  $li_outer_height: 41px;
  $li_bottom_margin: 12px;

  .ts-header {
    position: relative;
    padding-right: $nav_width;
    min-height: calc(
      (({{ site.data.navigation.size }} * #{$li_outer_height}) - #{$li_bottom_margin})
      + #{$header_top_padding}
      - #{$header_bottom_padding}
    );
  }

  .ts-nav {
    position: absolute;
    top: $header_top_padding;
    right: 50px;
  }
}

@media print, screen and (max-width: 480px) {

  $river_item_height: 70px;

  .ts-river-item {
    min-height: $river_item_height;
  }

  .ts-river-item-image {
    width: 100px;
    height: $river_item_height;
  }

  .ts-right-asset {
    width: 100%;
    max-width: 100%;
  }

}
